{% include 'header_admin.html' %}
<form action="" method="post">
    {% csrf_token %}
    <div class="card mb-12">
             <div class="card-header"><strong>Department Details</strong></div>
             <div class="row p-3">
                 <div class="col-sm-12">
                     
                     {% for msg in messages %}
                     <div class="alert alert-success">
                        {{msg}}
                     </div>
                     {% endfor %}
                     <div class="table-responsive">
                        <div className="table-wrapper">
                            <table class="table">
                               <thead>
                                   <tr>
                                       <th>#</th>
                                       <th>QR Code</th>
                                       <th>Department</th>
                                       <th>Location</th>
                                      
                                      
                                       <th>Action</th>
                                   </tr>
       
                               </thead>
                               <tbody>
                                   {% for ob in data %}
                                   <tr>
                                       <td>{{ob.id}}</td>
                                       <td>
                                        <img src="../media/{{ob.dname}}.png" width="150" alt="">
                                       </td>
                                       <td>{{ob.dname}}</td>
                                       <td>{{ob.loc}}</td>
                                       
                                    <td>
                                        <a href="/DepartmentDelete/{{ob.id}}">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    </td>
                                      
                                       
                                       
                                       
                                   </tr>
                                   {% endfor %}
                               </tbody>
                            </table>
                           </div>
                     </div>
                 </div>
                 <div class="col-sm-6">
                 <img src="assets/img/4.jpg" class="img-fluid" alt="">
                 </div>
                   </div>
                 </form>
{% include 'footer.html' %}