</div>
</div>
<!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0 text-center">
                  Copyright ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  
                </div>
                
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- DataTable -->
    <script src="../static/assets/datatable/jquery-3.7.1.js"></script>
    <script src="../static/assets/datatable/jquery.dataTables.min.js"></script>
    <script src="../static/assets/datatable/dataTables.buttons.min.js"></script>
    <script src="../static/assets/datatable/buttons.bootstrap5.min.js"></script>
<script src="../static/assets/datatable/jszip.min.js"></script>
    <script src="../static/assets/datatable/pdfmake.min.js"></script>
<script src="../static/assets/datatable/vfs_fonts.js"></script>
<script src="../static/assets/datatable/buttons.html5.min.js"></script>
<script src="../static/assets/datatable/buttons.colVis.min.js"></script>
<script src="../static/assets/datatable/buttons.print.min.js"></script>
  <!-- DataTable -->


    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../static/assets/js/custom.js"></script>
    <script src="../static/assets/js/print-preview.js"></script>
    <script src="../static/assets/vendor/libs/popper/popper.js"></script>
    <script src="../static/assets/vendor/js/bootstrap.js"></script>
    <script src="../static/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../static/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../static/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../static/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../static/assets/js/dashboards-analytics.js"></script>
  <script src="../static/assets/js/custom-data-table.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
 
<style>
  .dataTables_paginate .paginate_button.disabled {
    background-color: #ccc;
    color: #be3a3a;
    cursor: not-allowed;
}
  </style>
</html>