

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
        
    </asp:ContentPlaceHolder>
    <link href="{%static 'assets/css/style.css' %}" rel="stylesheet">
        <link href="{%static 'assets/fontawesome/css/all.css' %}" rel="stylesheet" />
        <link href="{%static 'assets/css/examples.css' %}" rel="stylesheet">
    <link href="{%static 'style.css' %}" rel="stylesheet" />
     <!-- https://gasparesganga.com/labs/jquery-message-box/ -->

               <script src="../static/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../static/assets/vendor/libs/popper/popper.js"></script>
    <script src="../static/assets/vendor/js/bootstrap.js"></script>
</head>
<body>
    
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-danger" style="color:white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"style="color:white;">SMCE Nexus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
           <li class="nav-item">
            <a class="nav-link text-white " aria-current="page" href="/">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " aria-current="page" href="/DepartmentView" >View Department</a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </nav>
    </div>
      